{
	"port": 3000,
    "imap": {
        "host": "imap.gmail.com",
        "port": 993,
        "user": "omnipresent.robot@gmail.com",
        "pass": "you wish sucka",
        "box": "INBOX"
    }
}